<%- include partials_home/header.ejs %> <!--Import File-->

  <!--Nav-->

  <%- include partials_home/main_nav.ejs %> <!--Import File-->


  <!--Main Content-->




  <main class="container">
    <div class="jumbotron">
     
      <h1 class="display-4 text-center" ><%= title %></h1>
      <br>
      <br>

      <h5 class="text-center">Mission Statement</h5>
      <br>
      <img src="/assests/images/home.jpg" class="rounded mx-auto d-block" alt="Responsive image" style="width:400px;">
      <br>
      <br>
      <p class="lead text-center">Never stop exploring the world of technology, learning new things that come up frequently, and never stop challenging myself because that will grow me into a stronger person.</p>
      

    </div>
    </main>
  

<!--Bottom Nav-->

<%- include partials_home/bottom_nav.ejs %> <!--Import File-->

<%- include partials_home/footer.ejs %>